html {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #018ded url(http://unsplash.it/1500/1000?image=881&blur=50);
  background-size: cover;
  text-align: center;
  font-size: 10px;
}

body {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100vw;
  height: 100vh;
}

.clock {
  width: 50rem;
  height: 50rem;
  border: 30px solid white;
  opacity: 1;
  border-radius: 50%;
}

.clock-face {
  width: 100%;
  height: 100%;
}

.hand {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 25%;
  height: 6px;
  background: black;
  transform-origin: 100%;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0, 2.54, 0.58, 1);
}

.hour-hand {
  transform: rotate(70deg);
}

.min-hand {
  transform: rotate(50deg);
}
.second-hand {
  transform: rotate(120deg);
}
